
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.5rem;
}

h2 {
  font-size: 3rem;
}

.App {
  padding: 3rem;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .3);
  position: relative;
  color: white;
}
.App:before {
  content: '';
  background: url('../img/background.jpg') no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  max-width: 700px;
  height: 700px;
  margin: auto;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* | Input */
.input-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly; 
  position: relative;
  color: white;
}

.btn {
	border-radius: 20px;
  width: 8rem;
  height: 2.5rem;
	background-color: #667292;
	box-shadow: 5px 13px 25px #36486b;
	color: #bccad6;
	border: none;
}

.btn:hover {
	border: none;
	background-color: #8d9db6;
	opacity: 1;
	color: #36486b;
}

.btn:hover {
	transition: 0.5s ease-in-out;
	background: transparent;
  cursor: pointer;
}

.btn {
	--color1: #36486b;
	--color2: #bccad6;
	text-align: center;
	font-size: 1.3rem;
	background: repeating-linear-gradient(
		45deg,
		var(--color1),
		var(--color1) 30px,
		var(--color2) 30px,
		var(--color2) 60px
	);
	background-clip: text;
	color: transparent;
	-webkit-background-clip: text;
	animation: 40s linear 0s infinite move;
}

@keyframes move {
	from {
		background-position: 0px;
	}

	to {
		background-position: 1000px;
	}
}

::placeholder {
  color: white;
}

input {
  border: 1px solid rgba(214, 212, 212, .3);
  border-radius: 15px;
  padding: 1rem;
  text-align: center;
  background-color: transparent;
  color: white;
	box-shadow: 1px 5px 10px #36486b;
  outline: none;
  width: 50%;
}

/* | Card */

.card-section {
  display: flex;
  justify-content: space-evenly;
  border-radius: 19px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, .5) ;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1rem .5rem;
}

.cardHeader {
  position: relative;
}

img {
  width: 260px;
  height: 260px;
  border-radius: 19px;
  opacity: .9;
}

.cardHeader h2{
  width: 100%;
  text-align: center;
  position: absolute;
  /* background-color: red; */
  background: linear-gradient( rgba(0, 0, 0, .3), rgba(0, 0, 0, .04));
  border-top-right-radius: 19px;
  border-top-left-radius: 19px;
  z-index: 2;
}
.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

